<app-header></app-header>
<h2>Product toevoegen</h2>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label id="productname">Productname</label>
    <input type="text" formControlName="productname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productname.errors }" />
    <div *ngIf="submitted && f.productname.errors" class="invalid-feedback">
      <div *ngIf="f.productname.errors.required">productname is required</div>
    </div>
  </div>
  <div class="form-group">
    <label id="price">Prijs</label>
    <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
      <div *ngIf="f.price.errors.required">price is verplicht</div>
    </div>
  </div>
    <div class="form-group">
    <label id="productbeschrijving">Productbeschrijving</label>
    <input type="text" formControlName="productbeschrijving" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productbeschrijving.errors }" />
    <div *ngIf="submitted && f.productbeschrijving.errors" class="invalid-feedback">
      <div *ngIf="f.productbeschrijving.errors.required">productbeschrijving is verplicht</div>
    </div>
    </div>
    <div class="form-group">
    <label id="imagepath">imagepath</label>
    <input type="text" formControlName="imagepath" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imagepath.errors }" />
    <div *ngIf="submitted && f.imagepath.errors" class="invalid-feedback">
      <div *ngIf="f.imagepath.errors.required">imagepath is verplicht</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Toevoegen</button>
    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <a routerLink="/products" class="btn btn-link">Terug</a>
  </div>
</form>
