<app-header></app-header>
<!--{{product.productname}}-->
<!--{{product.price}}-->
<!--<img src="{{product.imagepath}}">-->
<!--<i *ngIf="currentUser && currentUser.role == 'ROLE_ADMIN' "-->
<!--class="material-icons" style="cursor: pointer" (click)="onDelete()"-->
<!--&gt;delete</i>-->
<!--<i *ngIf="currentUser && currentUser.role == 'ROLE_USER' "-->
<!--class="material-icons" style="cursor: pointer"-->
<!--(click)="onAdd()">add</i>-->
<!--<input [(ngModel)]="teller" readonly style="width: 50px; height: 20px">-->
<!--<i *ngIf="currentUser && currentUser.role == 'ROLE_USER' "-->
<!--class="material-icons" style="cursor: pointer" (click)="onRemove()">remove</i>-->
<!--<button *ngIf="currentUser && currentUser.role == 'ROLE_USER'"-->
<!--class="btn btn-primary" style="cursor: pointer"-->
<!--(click)="onAddToShoppingCart()"-->

<!--&gt;Koop-->
<!--</button>-->
<!--<ng-template #other_content>-->
<!--<p>item is al added</p>-->
<!--</ng-template>-->

<!--<i *ngIf="currentUser && currentUser.role == 'ROLE_ADMIN' "-->
<!--class="material-icons" style="cursor: pointer"-->
<!--[routerLink]="['/products/product-update/'+ product.productid]"-->
<!--&gt;create</i>-->
<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="{{product.imagepath}}"/></div>
            <!--<div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>-->
            <!--<div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>-->
            <!--<div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>-->
            <!--<div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>-->
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <!--<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>-->
            <!--<li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>-->
            <!--<li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>-->
            <!--<li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>-->
            <!--<li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>-->
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{product.productname}}</h3>
          <div class="rating">
            <!--<div class="stars">-->
            <!--&lt;!&ndash;<span class="fa fa-star checked"></span>&ndash;&gt;-->
            <!--<span class="fa fa-star checked"></span>-->
            <!--<span class="fa fa-star checked"></span>-->
            <!--<span class="fa fa-star"></span>-->
            <!--<span class="fa fa-star"></span>-->
            <!--</div>-->
            <span class="review-no">41 reviews</span>
          </div>
          <p class="product-description">
            {{product.productbeschrijving}}</p>
          <h4 class="price">Huidige prijs: <span>€ {{product.price}}</span></h4>

          <div *ngIf =" currentUser && itemIsDouble ==false;">
          <div class="quantity" >
            <button class="plus-btn" type="button" name="button"
                    *ngIf="currentUser && currentUser.role == 'ROLE_USER' "
                    (click)="onAdd()">
              <img src="../assets/plus.png" alt="" />
            </button>
            <input type="text" name="name"  [(ngModel)]="teller" readonly>
            <button class="minus-btn" type="button" name="button"
                    *ngIf="currentUser && currentUser.role == 'ROLE_USER' "
                    (click)="onRemove()"
            >
              <img src="../assets/min.png" alt="" />
            </button>
          </div>
          <div class="action">
            <button *ngIf="currentUser && currentUser.role == 'ROLE_USER' "
                    (click)="onAddToShoppingCart()"
                    class="btn btn-primary float-lg-left" type="button">Kopen
            </button>


            <button *ngIf="currentUser && currentUser.role == 'ROLE_ADMIN'"
                    [routerLink]="['/products/product-update/'+ product.productid]"
                    class="btn btn-primary float-lg-left" type="button">Product updaten
            </button>

          </div>

          <!--<p *ngIf="isDouble === true">-->
            <!--de product is al ga naar je winkel-->
          <!--</p>-->
        </div>
        </div>

      </div>

    </div>
    <div *ngIf="currentUser && itemIsDouble == true">
      <p class="alert alert-info">Dit product bestaat al in uw winkel, u kunt daar de hoeveelheid updaten</p>
      <button  [routerLink]="'/shopping-cart/' + currentId" class="btn btn-info">Naar shoppingcart</button>
    </div>
  </div>
</div>

