<app-header></app-header>

<!--<h3>Inloggen</h3>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">-->
  <!--<div class="form-group">-->
    <!--<label for="email">Email</label>-->
    <!--<input type="text" formControlName="email" class="form-control"-->
           <!--[ngClass]="{ 'is-invalid': !getLoginFormControls().email.valid && getLoginFormControls().email.dirty }">-->
    <!--<div *ngIf="!getLoginFormControls().email.valid && getLoginFormControls().email.dirty" class="invalid-feedback">-->
      <!--<div *ngIf="getLoginFormControls().email.errors.required">Email is verplicht</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="password">Wachtwoord</label>-->
    <!--<input type="password" formControlName="password" class="form-control"-->
           <!--[ngClass]="{ 'is-invalid' : !getLoginFormControls().password.valid && getLoginFormControls().password.dirty }"-->
    <!--/>-->

    <!--<div *ngIf="!getLoginFormControls().password.valid && getLoginFormControls().password.dirty" class="invalid-feedback">-->
      <!--<div *ngIf="getLoginFormControls().password.errors.required">Wachtwoord is verplicht</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<button [disabled]="loading" class="btn btn-primary">-->
      <!--<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
      <!--Inloggen-->
    <!--</button>-->
    <!--<a routerLink="/register" class="btn btn-link">Registreren</a>-->
  <!--</div>-->
<!--</form>-->
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->


<div id="login">
  <div class="container" style="background-color: #2c3e50">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <h3 style="color: white; text-align: center" >Hier kunt u zich inloggen of registreren</h3>
            <h4 style="color: white; text-align: center">om mooie bloemen aan te kunnen schaffen</h4>
            <div class="form-group">
              <label for="email" class="text-info" >Username:</label><br>
              <input type="text" name="email" id="email" class="form-control" formControlName="email" required="" minlength="3" maxlength="100"
               [ngClass]="{ 'is-invalid': !getLoginFormControls().email.valid && getLoginFormControls().email.dirty }"/>
               <div *ngIf="!getLoginFormControls().email.valid && getLoginFormControls().email.dirty" class="invalid-feedback">
                <div *ngIf="getLoginFormControls().email.errors.required">Username is verplicht</div>
                <div *ngIf="getLoginFormControls().email.errors.minlength">Username moet minimaal 3 karakters bevatten</div>
                <div *ngIf="getLoginFormControls().email.errors.maxlength">Username kan maximaal 100 karakters bevatten</div>
               </div>

            </div>
            <div class="form-group">
              <label for="password" class="text-info" >Password:</label><br>
              <div class="input-group"><input [type]="show ? 'text' : 'password'" name="password" id="password" class="form-control" formControlName="password"
                                              required minlength="6" maxlength="50"
                                              [ngClass]="{ 'is-invalid': submitted && getLoginFormControls().password.dirty }"
              />
                <span class="input-group-btn" (click)="password()">
             <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open" ></i></button>
                </span></div>
              <div *ngIf="!getLoginFormControls().password.valid && getLoginFormControls().password.dirty" class="invalid-feedback">
                <div *ngIf="getLoginFormControls().password.errors.required">Password is verplicht</div>
                <div *ngIf="getLoginFormControls().password.errors.minlength">Password moet minimaal 3 karakters bevatten</div>
                <div *ngIf="getLoginFormControls().password.errors.maxlength">Password kan maximaal 50 karakters bevatten</div>
              </div>
            </div>
            <div class="form-group">
              <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
              <button [disabled]="!loginForm.valid" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
                </button>
              <div id="register-link" class="text-right">
                <a routerLink="/register" class="text-info">Register</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
