<app-header></app-header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
  <h3 class="h3">Kies hier de juiste bloemen voor u. </h3>
  <button *ngIf="currentUser && currentUser.role == 'ROLE_ADMIN' " class="btn btn-primary" [routerLink]="['/products/product-create']">Product Toevoegen</button>
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let product of arrProducts">
      <div class="product-grid" >
        <div class="product-image" >
          <a [routerLink]="['/products/product-info/'+ product.productid]" >
            <img class="pic-1" src="{{product.imagepath}}">
          </a>
        </div>
        <div class="product-content">
          <div class="price"> €{{product.price}}
            <p>{{product.productname}}</p>
          </div>

          <a class="add-to-cart" [routerLink]="['/products/product-info/'+ product.productid]" >Ga naar product details</a>
        </div>
      </div>
    </div>
  </div>
</div>
