<app-header></app-header>

<h2>Product updaten</h2>
<form role="form"  #f= "ngForm" (ngSubmit)="ngSubmit(f)">
  <div>
    <label id="productname">Productname</label>
    <input type="text" name="productname" [(ngModel)]="product.productname" [disabled]="loading"/>
  </div>
  <div >
    <label id="price">Prijs</label>
    <input type="text" name="price" [(ngModel)]="product.price" [disabled]="loading"/>
    <div >
      <label id="imagepath">Imagepath</label>
      <input type="text"  name="imagepath" [(ngModel)]="product.imagepath" [disabled]="loading"/>
    </div>
    <div >
      <label id="productbeschrijving">Productbeschrijving</label>
      <input type="text"  name="productbeschrijving" [(ngModel)]="product.productbeschrijving" [disabled]="loading"/>
    </div>
    <div class="form-group">
      <button [disabled]="!f.valid" class="btn btn-primary">Opslaan</button>
      <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a routerLink="/products" class="btn btn-link">Terug</a>
    </div>
  </div>
</form>
