<app-header></app-header>
<div id="register-form" >
  <div class="container" style="background-color: #4298f5">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h3 style="color: white; text-align: center" >Hier kunt u zich registreren</h3>
            <div class="form-group">
              <label for="email" style="color: white">Username:</label><br>
              <input type="text" name="email" id="email" class="form-control" formControlName="email" required="" minlength="3" maxlength="100"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                     />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">-->
              <div *ngIf="f.email.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" style="color: white">Password:</label><br>
              <div class="input-group"><input [type]="show ? 'text' : 'password'" name="password" id="password" class="form-control" formControlName="password"
                                              required minlength="6" maxlength="50"
                                              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
                <span class="input-group-btn" (click)="password()">
             <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                </span></div>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is verplicht</div>
              <div *ngIf="f.password.errors.minlength">Password moet minimaal 6 karakters zijn</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" [disabled]="!registerForm.valid" >
                <span  class="spinner-border spinner-border-sm mr-1" *ngIf="loading" ></span>
                Registreren
              </button>
              <div id="register-link" class="text-right">
                <a routerLink="/login" style="color: white">Terug naar inlog pagina</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

